<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">

<head>
	<meta charset="ISO-8859-1">
	<title>This is About page</title>
</head>

<body>
	 <header>
        <h1>About Smart Contact Manager</h1>
    </header>

    <section>
        <h2>Introduction</h2>
        <p>Welcome to Smart Contact Manager! We're dedicated to providing you with a smart and efficient solution for managing your contacts.</p>

        <h2>Features</h2>
        <p>Smart Contact Manager offers a range of features designed to streamline your contact management experience:</p>
        <ul>
            <li>Organize contacts efficiently</li>
            <li>Add, edit, and delete contacts with ease</li>
            <li>Quickly search for contacts</li>
            <li>Group contacts for better categorization</li>
            <li>Sync contacts across devices</li>
        </ul>

        <h2>Our Mission</h2>
        <p>Our mission is to simplify the way you manage your contacts. We understand the importance of staying connected in today's fast-paced world, and we're here to make that process as effortless as possible.</p>

        <h2>Contact Us</h2>
        <p>If you have any questions, feedback, or suggestions, please don't hesitate to <a href="mailto:thechandramohan01@gmail.com">contact us</a>. We'd love to hear from you!</p>
    </section>


</body>

</html>
</html>